#refer-anchor {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: red;
}

/*The Example class is used to emphasize examples. */
.example {
    font-style: italic;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1.5em;
    padding-top: 0.2em;
    margin: 1.5em;
}

/*Limit the width of the content, so that the formula between the lines
  can be displayed normally by Katex. Note that the formula between the
  lines cannot be displayed normally for the small screen devices. */
main section.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
